<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quxing.quxing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quxing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/quxing"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="趣行">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fabu.FabuActivity" />
        <activity android:name=".Xiaoxi.XiaoxiActivity" />
        <activity android:name=".Wode.WodeActivity" />
        <activity android:name=".Wode.Wode_SeetingActivity" />
        <activity android:name=".Wode.Wode_AboutActivity"></activity>
    </application>

</manifest>